*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;
}
hr{
    margin-bottom:20px;
    border:none;
    border-bottom:0.5px solid rgb(223, 223, 223);
}
/*header section start*/
#header{
}
.headercontainer{
    background:white;
    width:100%;
    display:block;
    padding:10px;
    text-align:right;
    box-shadow: 1px -15px 30px;
    position:fixed;
    z-index:2;

}
.headercontainer a{
    padding:10px 15px;
    background:white;
    display:inline-block;
    text-decoration:none;
    font-size:16px;
    letter-spacing:4px;
    color:black;
    margin-left:0px;
}
.headercontainer a:hover{
    background:#CCCCCC
}
.headercontainer a b{
    padding-right:15px;
}
.headercontainer a:first-child{

    float:left;
}
/*header section end*/
/*home section start*/
.homecontainer div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
.homecontainer div b{
    font-size:40px;
    padding:10px;
    background:black;
    color:white;
    opacity:0.7;
}
.homecontainer div h1{
    font-size:35px;
    display:inline;
    color:white;
    font-weight:100;
}
.homecontainer{
    max-width:1500px;
    background-size:cover;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.homecontainer img{
    max-width:100%;
    height:auto;
    margin:0 auto;

}
/*home section end*/
/*project section start*/
.projectcontainer{
    max-width:1500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-left:32px;
    padding-right:32px;
    padding-top:50px;

}
.projectheading h1{
    padding:25px 0px;
    font-weight:100;
}
.house{
    background:toamto;
    max-width:100%;
    height:auto;;
    padding-bottom:10px;
    display:relative;
    
}
.house:nth-child(2){
    padding-left:10px;
}
.house:nth-child(3){
    padding-left:10px;
}
.house:nth-child(4){
    padding-left:10px;
}
.house:nth-child(6){
    padding-left:10px;
}
.house:nth-child(7){
    padding-left:10px;
}
.house:nth-child(8){
    padding-left:10px;
}
.house img{
    max-width:100%;
    height:100%;
}
.house h3{
    position:absolute;
    padding:10px 15px;
    font-size:15px;
    font-weight:100;
    color:white;
    background:black;
}
.allhouse{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
/*project section end*/
/*about section start*/
.aboutcontainer{
    max-width:1500px;
    padding-top:65px;
    padding-bottom:0px;
    padding-left:32px;
    padding-right:32px;

}
.aboutcontent h1{
    font-size:25px;
    font-weight:100;
    padding:10px 0px;
    padding-bottom:20px;
    
}
.aboutcontent p{
    line-height:1.2;
    padding-bottom:20px;
}
.card{
    max-width:100%;
    padding: 10px 0px;

}
.card img{
    width:100%;
    opacity:0.8;
}
.card h1{
    font-size:25px;
    font-weight:100;
    padding:10px 0px;
}
.card h3{
    font-size:16px;
    font-weight:100;
    padding:10px 0px;

}
.card p{
    padding:10px 0px;
}
.card button{
    padding:10px 15px;
    width:100%;
    border:none;
    font-size:18px;

}
.card button:hover{
    background:#D7DDDE;
}
.allcard{
    display:grid;
    grid-template-columns:auto auto auto auto;
    grid-gap:10px 15px;
}
/*about section end*/
/*contact section start*/
.contactcontainer{
    padding-top:75px;
    padding-left:32px;
    padding-right:32px;
    padding-bottom:30px;
    max-width:1500px;
}
.contactcontainer h1{
    font-size:25px;
    font-weight:100;
    padding-bottom:20px;
}
.contactcontainer p{
    padding-bottom:20px;
}
.contactcontainer input{
    display:block;
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:0.5px solid rgb(194, 190, 190);
    font-size:15px;
}
.contactcontainer button{
    padding:10px 15px;
    margin:15px 0px;
    border:none;
    font-size:16px;
    color:white;
    background:black;
}
.contactcontainer button:hover{
    background:#CCCCCC;
    color:black;
}
/*contact section end*/
/*picture section start*/
.picturecontainer{
    max-width:1500px;
    padding:0px 32px;
    margin-bottom:5px;

}
.picturecontainer img{
    max-width:100%;
}
/*picture section end*/
/*footer section start*/
.footercontainer{
    width:100%;
    padding:35px 0px;
    background:black;
    color:white;
    text-align:center;

}
.footercontainer p{
    font-size:15px;
}
.footercontainer p a{
    color:white;
}
.footercontainer p a:hover{
    color:rgb(47, 182, 20);
}
/*footer section end*/